
/*  font-family: 'Indie Flower', cursive;  */
/*  font-family: 'Montserrat', sans-serif;  */
/*  font-family: 'Life Savers', cursive;  */

/*:root {
    --bg-color1: rgb(11, 22, 34);
    --bg-color2: rgb(21, 31, 46);
    --font-color: rgb(255, 255, 255);
    --secondary-color: rgb(246, 128, 191);
}*/

/*body {
    background-color: var(--bg-color1);
}*/

/************************************** Variables ************************************************/
:root {
    --color-one: #F5F3F5;
    --color-two: #AB875F;
    --color-three: rgb(191 170 143);
    --font-text1: 'Montserrat', sans-serif;
    --font-text2: 'Indie Flower', cursive;
    --font-text3: 'Life Savers', cursive;
    --size-h1: 2.5rem;
    --size-h3: 1.8rem;
    --size-text: 1.6rem;
}


/************************************** Reset ************************************************/
* {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
    font-family: var(--font-text1);
    background-color: var(--color-one);
    margin: 0;
    padding: 0;
    font-size: var(--size-text);
}

img {
    width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}




/***********************************  HEADER *********************************************/

header {
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    padding:1rem;
    display:flex;
	align-items: center;
	justify-content: space-between;
    background-color: var(--color-one);
}

/*********************************** Icon de connexion **************************/

.iconify {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color-two);
}

/*********************************** Logo du site **************************/

.navbar__logo a {
    text-decoration: none;
}


.navbar__logo a h1{
    text-shadow: 0.1rem 0.1rem 0.2rem #56432e;
    color: var(--color-two);
    font-size: var(--font-text1);
    padding: 2rem;
    text-align: center;
    font-family: var(--font-text2);
    margin: 0;
}

/*********************************** Menu burger **************************/

.navbar__burger {
    width: 2.2rem;
    height: 2.5rem;
    position: relative;
    cursor: pointer;
}

.navbar__burger span {
    width: 100%;
    height: .3rem;
    display: block;
    background-color: var(--color-two);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
  }

  .navbar__burger span::before, .navbar__burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: .3rem;
    background-color: var(--color-two);
  }

  .navbar__burger span::before {
    transform: translateY(.6rem);
  }

  .navbar__burger span::after {
    transform: translateY(-.6rem);
  }

  .navbar__burger.active span {
    background-color: transparent;
  }

  .navbar__burger.active span::before {
    transform: translateY(0) rotateZ(45deg);
  }

  .navbar__burger.active span::after {
    transform: translateY(0) rotateZ(-45deg);
  }

/*********************************** Liens menu **************************/

.navbar__links {
    list-style-type: none;
	position: absolute;
    top: 8rem;
	left: -100vw;
	padding-left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    transition: all .5s;
}

.navbar__links li {
    padding: .8rem 1.6rem;
}

.navbar__links li a {
    color: var(--color-one);
    text-decoration: none;
    font-size: var(--font-text2);
}

.navbar__links li::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1rem;
    background-color: var(--color-one);
    transform: scale(0);
}

.navbar__links li :visited {
    color: var(--color-one);
}

.navbar__links.active {
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(191,170,143,1);
}


/*********************************** Main **************************************************/

main {
    padding-top: 11rem;
    width: 80%;
    margin: auto;
}

/******************************* section Welcome *******************************************/

#welcome {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#welcome h2 {
    font-size: 5rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    padding: 1rem 0 0 0;
    font-family: var(--font-text1);
    margin: 0;
    text-transform: uppercase;
}

#welcome figure {
    width: 0 auto;
}

#welcome figure img {
    width:28rem;
    height: 20rem;
}

#welcome p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--font-text3);
    padding-bottom: 1rem;
}

/*********************************** section About ********************************************/

#about {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#about h2 {
    font-size: 5rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    font-family: var(--font-text2);
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#about figure img {
    width:18rem;
    height: 18rem;
    border-radius: 60% 30%;
}

#about p {
    padding: 1.6rem 1.6rem;
    font-size: 1.6rem;
}

.about__leila__bold {
    font-weight: bold;
}

.about__leila__color {
    color: #56432e;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--color-two);
}

/**************************************** Section Services ******************************************/

#services {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#services h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
}

.services__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*********************************** Service Administratif **************************/

.services__administratif {
    /*width: 25rem;*/
    width:85%;
    background-color: var(--color-two);
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 20%;
}

.services__administratif h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
}

.services__administratif ul {
    list-style-type: disc;
    margin: 0;
    text-align: center;
    padding: 0;
}

.services__administratif ul li {
    font-size: 1.6rem;
    /*list-style-image: url(/public/img/check.svg);*/
    list-style-type: none;
    padding: .5rem;
    /*text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;*/
    color: var(--color-one);
    margin-bottom: 1.6rem;
}

/*********************************** Service commerciale  **************************/

.services__commerciale {
    /*width: 25rem;*/
    width:85%;
    background-color: var(--color-two);
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 20%;
}

.services__commerciale h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
}

.services__commerciale ul {
    list-style-type: disc;
    margin: 0;
    text-align: center;
    padding: 0;
}

.services__commerciale ul li {
    font-size: 1.6rem;
    /*list-style-image: url(/public/img/check.svg);*/
    list-style-type: none;
    padding: .5rem;
    /*text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;*/
    color: var(--color-one);
    margin-bottom: 1.6rem;
}

/*********************************** Service reseaux **************************/

.services__reseaux {
    /*width: 25rem;*/
    width:85%;
    background-color: var(--color-two);
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 20%;
}

.services__reseaux h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
}

.services__reseaux ul {
    list-style-type: disc;
    margin: 0;
    text-align: center;
    padding: 0;
}

.services__reseaux ul li {
    font-size: 1.6rem;
    /*list-style-image: url(/public/img/check.svg);*/
    list-style-type: none;
    padding: .5rem;
    /*text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;*/
    color: var(--color-one);
    margin-bottom: 1.6rem;
}

/*********************************** Service autres **************************/

.services__autres {
    /*width: 25rem;*/
    width:85%;
    background-color: var(--color-two);
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 20%;
}

.services__autres h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
}

.services__autres ul {
    list-style-type: disc;
    margin: 0;
    text-align: center;
    padding: 0;
}

.services__autres ul li {
    font-size: 1.6rem;
    /*list-style-image: url(/public/img/check.svg);*/
    list-style-type: none;
    padding: .5rem;
    /*text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;*/
    color: var(--color-one);
    margin-bottom: 1.6rem;
}

/**************************************** Section Offres *****************************************/

#offres {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#offres h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
}

#offres img {
    width: 15rem;
    height: 25rem;
}

/*********************************** Offre confort *************************************************/
.offres__confort {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offres__confort h3 {
    font-size: 1.8rem;
}

.offres__confort p {
    font-size: 1.6rem;
    padding: .5rem;
    margin: .5rem;
}

.offre__confort__prix {
    background-color: black;
    color: var(--color-one);
    width: 30%;
    border-radius: 15%;
    border: .1rem solid var(--color-one);
}

/*********************************** Offre Serenite *************************************************/
.offres__serenite {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offres__serenite h3 {
    font-size: 1.8rem;
}

.offres__serenite p {
    font-size: 1.6rem;
    padding: .5rem;
    margin: .5rem;
}

.offre__serenite__prix {
    background-color: black;
    color: var(--color-one);
    width: 30%;
    border-radius: 15%;
    border: .1rem solid var(--color-one);
}

/*********************************** Offre Epanouissement *************************************************/
.offres__epanouissement {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offres__epanouissement h3 {
    font-size: 1.8rem;
}

.offres__epanouissement p {
    font-size: 1.6rem;
    padding: .5rem;
    margin: .5rem;
}

.offre__epanouissement__prix {
    background-color: black;
    color: var(--color-one);
    width: 30%;
    border-radius: 15%;
    border: .1rem solid var(--color-one);
}

.offres__bold {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.offres__color {
    color: var(--color-two);
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    margin-bottom: 1.6rem;
}

/*************************************** Section Travailler avec moi *****************************/

.etape {
    width: 100%;
}

.etape h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.etape__une h3 {
    margin: 0;
    padding-left: 2rem;
    color: var(--color-two);
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
}

.etape__une p {
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
}

.etape__deux h3 {
    margin: 0;
    padding-left: 7rem;
    color: var(--color-two);
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
}

.etape__deux p {
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
}

.etape__trois h3 {
    margin: 0;
    padding-left: 2rem;
    color: var(--color-two);
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
}

.etape__trois p {
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-size: 1.6rem;
}

/**************************************** Footer *************************************************/

footer {
    width: 100%;
    background-color: var(--color-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

footer a {
    text-decoration: none;
    color: var(--color-one);
}

footer a :visited {
    color: var(--color-one);
}

footer h3 {
    padding: 1rem;
    font-family: var(--font-text2);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: .5rem;
}

footer p {
    color: var(--color-one);
}

/**************************************** Footer liens *************************************************/
.footer__liens {
    width: 100%;
    border-bottom: .1rem solid var(--color-one);
    padding: 1rem;
}
/**************************************** Footer contact *************************************************/
.footer__contact {
    width: 100%;
    border-bottom: .1rem solid var(--color-one);
    padding: 1rem;
}

.footer__contact p {
    padding: 1rem;
}
/**************************************** Footer mention *************************************************/
.footer__mention {
    padding: 1rem;
    width: 100%;
}

.footer__mention p {
    padding: 1rem;
}

/********************************** Arrow ******************************************/
.arrow {
    width: 10%;
    height: auto;
    color: var(--color-two);
    text-align: left;
    padding: 1rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
}


/********************************** Formulaire ******************************************/

form {
    border: .1rem solid var(--color-two);
    padding: 1rem;
    margin: 2rem;
}

form h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    padding: 1rem;
}

form input {
    margin: 1rem;
    border: .2rem solid var(--color-two);
}

form button {
    margin: 1rem;
    background-color: var(--color-two);
    border: 0;
    color: var(--color-one);
    padding: .7rem;
}

/********************************** Connexion ******************************************/
.connexion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.connexion a {
    background-color: var(--color-two);
    color: #F5F3F5;
    padding: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.connexion div {
    position: relative;
}

.connexion div input:focus {
    border: .2rem solid --color-two;
}

.connexion div span {
    position: absolute;
    color: red;
    font-size: var(--font-text2);
}
/********************************** Inscription ******************************************/
.inscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inscription label {
    display: block;
    font-family: var(--font-text1);
    font-weight: bold;
}

.inscription div {
    padding: 1rem;
}

/********************************** User ******************************************/
.user {
    width: 100%;
}

.user__profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.user__profil a {
    padding: 2rem;
    margin: 1rem;
    width: 50%;
    text-decoration: none;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    font-weight: bold;
    font-size: var(--size-h3);
    background-color: var(--color-two);
}

/********************************** Mes donnees ******************************************/
.user__data {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.user__data h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.user__data__company {
    border: .1rem solid var(--color-two);
    margin: 2rem;

}

.user__data__company td {
    padding: 1rem;
}

.user__data__facture {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

.user__data__devis {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

.user__data__update {
    padding: 2rem;
    margin: 1rem;
    text-decoration: none;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    font-weight: bold;
    font-size: var(--size-h3);
    background-color: var(--color-two);
}
/********************************** User update ******************************************/
.user__update {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user__update label {
    display: block;
    font-family: var(--font-text1);
    font-weight: bold;
}

.user__update h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

/********************************** User facture ******************************************/

.user__facture {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user__facture h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.user__facture_detail {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

/********************************** User devis ******************************************/

.user__devis {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user__devis h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.user__devis__detail {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

/********************************** Admin ******************************************/
.admin {
    width: 100%;
    padding: 2rem;
}

.admin__profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.admin__profil a {
    padding: 2rem;
    margin: 1rem;
    width: 50%;
    text-decoration: none;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    font-weight: bold;
    font-size: var(--size-h3);
    background-color: var(--color-two);
}

/********************************** Admin company ******************************************/
.company {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;

}

.company h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.company__lien {
    padding: 2rem;
    margin: 1rem;
    text-decoration: none;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    font-weight: bold;
    font-size: var(--size-h3);
    background-color: var(--color-two);
}


.company__list {
    margin: 2rem;
    padding: 1rem;
}

.company__list {
    border: .1rem solid var(--color-two);
}

.company__list__liens {
    text-decoration: none;
    color: #AB875F;
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    font-weight: bold;
}

form {
    display: inline-block;
    border: 0;
    margin: 0;
}

/********************************** Admin data company ******************************************/
.admin__data__company {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.admin__data__company h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.admin__data__company__list {
    border: .1rem solid var(--color-two);
    margin: 2rem;

}

.admin__data__company__list td {
    padding: 1rem;
}

.admin__data__company__facture {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

.admin__data__company__devis {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

.admin__data__company__button {
    padding: 2rem;
    margin: 1rem;
    text-decoration: none;
    color: var(--color-one);
    text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    font-weight: bold;
    font-size: var(--size-h3);
    background-color: var(--color-two);
}

/********************************** Admin update company ******************************************/
.admin__update__company {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.admin__update__company label {
    display: block;
    font-family: var(--font-text1);
    font-weight: bold;
}

.admin__update__company h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

/********************************** Admin add company ******************************************/
.admin__add__company {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.admin__add__company label {
    display: block;
    font-family: var(--font-text1);
    font-weight: bold;
}

.admin__add__company h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

/********************************** Admin facture ******************************************/

.admin__facture {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
.admin__facture__add {
    background-color: var(--color-two);
    color: #F5F3F5;
    padding: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.admin__facture h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.admin__facture__detail {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

/********************************** Admin add facture ******************************************/
.admin__add__facture {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.admin__add__facture h2{
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

/********************************** Admin devis ******************************************/

.admin__devis {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;

}
.admin__devis__add {
    background-color: var(--color-two);
    color: #F5F3F5;
    padding: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.admin__devis h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

.admin__devis__detail {
    border: .1rem solid var(--color-two);
    margin: 2rem;
}

/********************************** Admin add devis ******************************************/
.admin__add__devis {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;

}

.admin__add__devis h2{
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #5D5D5D;
    text-transform: uppercase;
}

/**************************************** CSS TABLETTE *********************************/

@media screen and (min-width: 768px) {

/*********************************** Icon de connexion **************************/
    .iconify {
        width: 3.5rem;
        height: 3.5rem;
    }

/*********************************** Logo du site **************************/
    .navbar__logo a h1 {
        font-size: 3.7rem;
    }

/*********************************** Menu burger **************************/
    .navbar__burger {
        width: 3.2rem;
        height: 3.5rem;
    }

    .navbar__burger span{
        height: .4rem;
    }

    .navbar__burger span::before, .navbar__burger span::after {
        height: .4rem;
    }

    .navbar__burger span::before {
        transform: translateY(.9rem);
    }

    .navbar__burger span::after {
        transform: translateY(-.9rem);
    }

/*********************************** Welcome **************************/
    #welcome h2 {
        font-size: 8rem;
        margin-top: 2rem;
    }

    #welcome figure img {
        width: 45rem;
        height: 30rem;
    }

    #welcome p {
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }
    /*********************************** section About ********************************************/
    #about h2 {
        font-size: 6rem;
        margin-top: 2rem;
    }

    #about figure img {
        width:28rem;
        height: 28rem;
    }

    #about p {
        font-size: 1.8rem;
    }

    .about__leila__color {
        font-weight: bold;
        margin-bottom: 2rem;
    }
/**************************************** Section Services ******************************************/
    #services h2 {
        font-size: 6rem;
        margin-top: 2rem;
    }

    .services__container {
        flex-wrap: wrap;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .services__administratif {
        width: 50%;
    }

    .services__commerciale {
        width: 50%;
    }

    .services__reseaux {
        width: 50%;
    }

    .services__autres {
        width: 50%;
    }

/*********************************** Offre confort *************************************************/
    #offres h2 {
        font-size: 6rem;
    }

    #offres img {
        width: 25rem;
        height: 35rem;
    }

    #offres h3 {
        font-size: 2.4rem;
    }

    #offres p {
        font-size: 2rem;
    }

    .offres__epanouissement {
        margin-bottom: 4rem;
    }

    .offres__color {
        margin-bottom: 4rem;
    }

/*************************************** Section Travailler avec moi *****************************/
    .etape h2 {
        font-size: 6rem;
    }

    .etape h3 {
        font-size: 2.6rem;
    }

    .etape__une {
        margin-top: 4rem;
    }

    .etape__une p {
        font-size: 2rem;
    }

    .etape__deux p {
        font-size: 2rem;
    }

    .etape__trois p {
        font-size: 2rem;
    }

    .etape__trois {
        margin-bottom: 4rem;
    }

/**************************************** Footer *************************************************/
    footer {
        flex-direction: row;
    }

    .footer__liens {
        border-right: .1rem solid var(--color-one);
        border-bottom: 0;
    }

    .footer__contact {
        border-right: .1rem solid var(--color-one);
        border-bottom: 0;
    }


/********************************** Connexion ******************************************/
    .connexion form {
        width: 50%;
    }

    .connexion input {
        width: 45%;
    }

    .connexion button {
        width: 35%;
        font-size: 2rem;
    }

    .connexion a {
        width: 20%;
        font-size: 2rem;
    }

/********************************** Inscription ******************************************/
    .inscription form {
        width: 50%;
    }

    .inscription button {
        width: 35%;
        font-size: 2rem;
    }
/********************************** Mes donnees ******************************************/
    .user__data {
        margin-bottom: 4rem;
    }
    .user__data h2 {
        font-size: 4rem;
    }

    .user__data td {
        width: 50%;
        padding: 1rem;
    }

    .user__data__company {
        text-align: left;
    }

    .user__data__facture {
        text-align: left;
    }

    .user__data__devis {
        text-align: left;
    }

    .user__data__update {
        width: 50%;
        margin-left: 25%;
    }
    /********************************** User update ******************************************/
    .user__update {
        margin-bottom: 4rem;
    }

    .user__update h2 {
        font-size: 4rem;
    }

    .user__update form {
        width: 50%;
        margin: 0 auto;
    }

    .user__update form button {
        width: 35%;
        font-size: 2rem;
    }

    /********************************** User facture ******************************************/
    .user__facture {
        margin-bottom: 4rem;
    }

    .user__facture h2 {
        font-size: 4rem;
    }

    .user__facture td {
        width: 50%;
    }

    /********************************** User devis ******************************************/
    .user__devis {
        margin-bottom: 4rem;
    }

    .user__devis h2 {
        font-size: 4rem;
    }

    .user__devis td {
        width: 50%;
    }
    /********************************** Admin company ******************************************/
    .company {
        margin-bottom: 4rem;
    }
    .company h2 {
        font-size: 4rem;
    }

    .company td {
        width: 50%;
    }

    .company__lien {
        width: 33%;
        margin-left: 33%;
    }

    .admin__data__company__button {
        width: 50%;
        margin-left: 25%;
    }
    /********************************** Admin data company ******************************************/
    .admin__data__company {
        margin-bottom: 4rem;
    }

    .admin__data__company h2{
        font-size: 4rem;
    }

    .admin__data__company td {
        width: 50%;
        padding: 1rem;
    }

    .admin__data__company__list {
        text-align: left;
    }

    .admin__data__company__facture {
        text-align: left;
    }

    .admin__data__company__devis {
        text-align: left;
    }
    /********************************** Admin update company ******************************************/

    .admin__update__company {
        margin-bottom: 4rem;
    }

    .admin__update__company h2 {
        font-size: 4rem;
    }

    .admin__update__company form {
        width: 50%;
        margin: 0 auto;
    }

    .admin__update__company form button {
        width: 35%;
        font-size: 2rem;
    }
    /********************************** Admin add company ******************************************/
    .admin__add__company {
        margin-bottom: 4rem;
    }

    .admin__add__company h2 {
        font-size: 4rem;
    }

    .admin__add__company form {
        width: 50%;
        margin: 0 auto;
    }

    .admin__add__company button {
        width: 35%;
        font-size: 2rem;
    }

    /********************************** Admin facture ******************************************/
    .admin__facture {
        margin-bottom: 4rem;
    }

    .admin__facture h2 {
        font-size: 4rem;
    }

    .admin__facture td {
        width: 33%;
    }

    .admin__facture__add {
        width: 33%;
        margin-left: 33%;
    }

    /********************************** Admin add facture ******************************************/
    .admin__add__facture {
        margin-bottom: 4rem;
    }

    .admin__add__facture h2{
        font-size: 4rem;
    }

    .admin__add__facture button {
        width: 35%;
        font-size: 2rem;
    }
    /********************************** Admin devis ******************************************/
    .admin__devis {
        margin-bottom: 4rem;
    }

    .admin__devis h2 {
        font-size: 4rem;
    }

    .admin__devis td {
        width: 33%;
    }

    .admin__devis__add {
        width: 33%;
        margin-left: 33%;
    }

    /********************************** Admin add devis ******************************************/
    .admin__add__devis {
        margin-bottom: 4rem;
    }

    .admin__add__devis h2{
        font-size: 4rem;
    }

    .admin__add__devis button {
        width: 35%;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    /***********************************  HEADER *********************************************/

    .navbar {
        justify-content: center;
    }
    /***********************************  LOGO *********************************************/
    .navbar__logo a h1 {
        font-size: 4.2rem;
    }
    /***********************************  icone authentification *********************************************/
    .iconify {
        display: none;
    }
    /***********************************  menu burger *********************************************/
    .navbar__burger {
        display: none;
    }
    /***********************************  liens menu *********************************************/
    .navbar__links {
        left: 0;
        flex-direction: row;
        justify-content: center;
        background-color: var(--color-one);
        margin-top: 3rem;
    }

    .navbar__links li {
        color: var(--color-two);
        text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
        padding-left: 3rem;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .navbar__links li :visited {
        color: var(--color-two);
        text-shadow: 0.1rem 0.1rem 0.1rem #56432e;
    }
    /***********************************  main *********************************************/
    main {
        padding-top: 15rem;
    }
    /***********************************  about *********************************************/
    .about__leila {
        display: flex;
        align-items: center;
    }
    /***********************************  services *********************************************/

    .services__container {
        display: flex;
        flex-direction: row;
    }

    .services__container div {
        width: 40%;
    }

    /***********************************  offres *********************************************/

    .offres__container {
        display: flex;
    }

    /*************************************** Section Travailler avec moi *****************************/

    .etape p {
        text-align: left;
    }

    .etape__une {
        padding-left: 5rem;
    }

    .etape__deux {
        padding-left: 15rem;
    }

    .etape__deux h3 {
        padding-left: 1rem;
    }

    .etape__trois {
        padding-left: 5rem;
    }
}